@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --color-default:#004f83;
  --color-second:#0067ac;
  --color-white:#fff;
  /* --color-body:#e4e9f7; */
  --color-light:#e0e0e0;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
}

.sidebar{
  min-height: 100vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}



.sidebar .logo_details .logo_name{
  color:var(--color-white);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border:none;
  border-radius: 5px;
  background-color: var(--color-second);
  transition: all .5s ease;
}

.sidebar input::placeholder{
  color:var(--color-light)
}

.sidebar.open input{
  width: 100%;
  padding: 0 20px 0 50px;
}

.sidebar .bx-search{
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  font-size: 22px;
  background-color: var(--color-second);
  color: var(--color-white);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.sidebar li a .link_name{
  color:var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom:-8px;
  padding:10px 14px;
  overflow: hidden;
  transition: all .5s ease;
}

.sidebar.open li.profile{
  width: 250px;
}

.sidebar .profile .profile_details{
  display: flex;
  align-items: center;
  flex-wrap:  nowrap;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation{
  font-size: 12px;
}

.sidebar .profile #log_out{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-second);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.home-section{
  position: relative;
  background-color: var(--color-body);
  min-height: 100vh;
  top:0;
  left:78px;
  width: calc(100% - 78px);
  transition: all .5s ease;
  z-index: 2;
}

.home-section .text{
  display: inline-block;
  color:var(--color-default);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.sidebar.open ~ .home-section{
  left:250px;
  width: calc(100% - 250px);
}














body {
  background-color: #050505;
  color: #fff;
  overflow-x: hidden;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.logo {
  font-weight: 600;
  cursor: default;
  font-size: 25px;
  color: #fff;
  width: 20vw;
  margin-left: 10vw;
  animation: slideRight 1s ease forwards;
}

.navbar {
  margin-right: 10vw;
  width: 35vw;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  opacity: 0;
  transition: .3s;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
  color: #0ef;
}

.content {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

.part1 {
  width: 40vw;
  height: 70vh;
  margin-left: 10vw;
  /* margin-top: 30vh; */
  /* color: #fff; */
  /* font-size: 20px; */
  /* font-weight: ; */
}

.part1 h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.part1 h3 span {
  color: #0ef
}

.part1 h1 {
  font-size: 50px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.part1 p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.part2 img {
  height: 53vh;
  width: 22vw;
  border-radius: 50px;
  margin-right: 10vw;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}

.social-media {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  border: 2px solid #0ef;
  background: transparent;
  color: #0ef;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
  color: black;
  background-color: #0ef;
  box-shadow: 0 0 20px #0ef;
}

.btn {
  position: relative;
  margin-left: 9vw;
  display: inline-block;
  padding: 12px 28px;
  margin-top: 20px;
  /* margin-left: 50px; */
  letter-spacing: 2px;
  box-shadow: 0 0 10px #0ef;
  opacity: 0;
  /* margin-right: 280px; */
  /* justify-content: center;
  align-items: center; */
  text-decoration: none;
  background-color: #0ef;
  color: black;
  /* width: 18vh; */
  /* height: 4vh; */
  border-radius: 20px;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

/* keyframe animation */
@keyframes slideRight {
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}

@keyframes slideTop {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
      transform: translateY(-100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0px);
      opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0px);
      opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
      transform: scale(0);
      opacity: 0;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes floatImage {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-24px);
  }

  100% {
      transform: translateY(0);
  }
}

/* about section css */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.a img {
  height: 53vh;
  width: 22vw;
  border-radius: 50px;
  margin-right: 10vw;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;

}

.read {
  position: relative;
  margin-left: 5vw;
  display: inline-block;
  padding: 12px 28px;
  margin-top: 20px;
  margin-left: 34px;
  letter-spacing: 2px;
  box-shadow: 0 0 10px #0ef;
  opacity: 0;
  /* margin-right: 280px; */
  /* justify-content: center;
  align-items: center; */
  text-decoration: none;
  background-color: #0ef;
  color: black;
  /* width: 18vh; */
  /* height: 4vh; */
  border-radius: 20px;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}
.b{
  width: 47vw;
  height: 30vh;

}
.b h1 {
  font-size: 50px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  margin-left: 20px;
}

.b span {
  color: #0ef
}

.b p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.b h4 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

/* our service section css */
.serv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.serv h1 {
  font-size: 50px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.serv h1 span {
  color: #0ef
}
.mid {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10vh;

}

.x {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: -10vw; */
  padding: 20px;
  width: 25vw;
  height: 30vh;
  background-color: #00040b;
  border: 2px #0ef;
  border-radius: 40px;

}

.x i {
  font-size: 40px;
  color: #0ef;
}

.x h2 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.x p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.x button{
  margin-left:-10px ;
}

.y {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 17vw;
  padding: 20px;
  width: 25vw;
  height: 30vh;
  background-color: #00040b;
  border: 2px #0ef;
  border-radius: 40px;

}

.y i {
  font-size: 40px;
  color: #0ef;
}

.y h2 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.y p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.y button{
  margin-left:-10px ;
}

/* portfolio css----------> */
.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.con h1 {
  font-size: 50px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.con h1 span {
  color: #0ef
}
.pro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -30px;
}
.div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.partition{
  width: 25vw;
  height: 30vh;
  border: 2px solid black;
  border-radius: 40px;
  margin-left: 30px;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pro1{
  background-color: #00040b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#pro2{
  background-color: #00040b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#pro3{
  background-color: #00040b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#pro4{
  background-color: #00040b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.partition h3{
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}
.partition p{
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s; 
}
.partition i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  border: 2px solid #0ef;
  background: transparent;
  color: #0ef;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.partition i:hover {
  color: black;
  background-color: #0ef;
  box-shadow: 0 0 20px #0ef;
}


.cm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.cm1 h1 {
  font-size: 50px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.cm1 h1 span {
  color: #0ef
}
.row{display: flex;
  align-items: center;
  width: 25vw;
  height: 4vh;
  margin-top: 10px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid#0ef;
}
.mar{
  margin-left: 20px;
}
.bh{
  width: 25vw;
  height: 20vh;
  margin-top: 10px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid#0ef;
}
.cm button{
  margin-left: -9px;
}
.sms{
  
      position: relative;
      margin-left: 5vw;
      display: inline-block;
      padding: 12px 28px;
      margin-top: 20px;
      margin-left: 34px;
      letter-spacing: 2px;
      box-shadow: 0 0 10px #0ef;
      opacity: 0;
      text-decoration: none;
      background-color: #0ef;
      color: black;
      border-radius: 20px;
      animation: slideTop 1s ease forwards;
      animation-delay: 2s;
  
}






.more{
  width: 450px;
  /* background: #fff; */
  padding: 20px;
  box-sizing: 0 0 5px black;

}
.more h4{
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.more p{
  line-height: 1.4;
  text-align: justify;
}
#check{
  display: none;

}
.hidden{
  display: none;
transition: 0.5s linear;
}
label{
  display: inline-block;
  margin-top: 10px;
  color: crimson;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;

}
#check:checked~ .hidden{
  display: block;
}
#check:checked~ .lable{
  visibility: hidden;
}
#check:checked~ label:after{
  content:'show less';
  display: block;
  visibility: hidden;
}
.foot{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* applying media query for responsive */
@media only screen and (max-width: 500px){
  main{width: 160vw;}
  .navbar {
      /* margin-right: 10vw; */
      width: 75vw;
      /* display: flex;
      justify-content: space-between; */
  }
  .content {
      position: relative;
      height: 187vh;
      width: 164vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: -40vh;
  }
  
  .part1 {
      width: 150vw;
      height: 20vh;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
      /* margin-left: 10vw; */
      /* margin-top: 30vh; */
      /* color: #fff; */
      /* font-size: 20px; */
      /* font-weight: ; */
  }
  
  .part1 h3 {
      /* font-size: 32px; */
      margin-top: 5px;
  }
  
  .part1 h3 span {
      /* color: #0ef */
      margin-top: 5px;
  }
  
  .part1 h1 {
      font-size: 50px;
      opacity: 0;
      animation: slideRight 1s ease forwards;
      animation-delay: 1s;
      margin-top: 5px;
  }
  
  .part1 p {
      margin-top: 20px;
      font-size: 21px;
      /* line-height: 1.4; */
      text-align: justify;
      opacity: 0;
      animation: slideLeft 1s ease forwards;
      animation-delay: 1s;
  }
  
  .part2 img {
      height: 20vh;
      width: 30vw;
      border-radius: 50%;
      /* margin-right: 10vw; */
      margin-top: 20vh;
      animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
      animation-delay: 2s, 3s;
  }
  
  .social-media {
      width: 66vw;
      display: flex;
      align-items: center;
      justify-content: space-between; 
  }
  
  
  .social-media a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 20px;
      border: 2px solid #0ef;
      background: transparent;
      color: #0ef;
      transition: .5s ease;
      opacity: 0;
      animation: slideLeft .5s ease forwards;
      animation-delay: calc(.2s * var(--i));
  }
  
  .social-media a:hover {
      color: black;
      background-color: #0ef;
      box-shadow: 0 0 20px #0ef;
  }
  
  .btn {
      /* position: relative;
      margin-left: 11vw;
      display: inline-block;
      padding: 12px 28px; */
      margin-top: 45px;
      /* margin-left: 50px; */
      /* letter-spacing: 2px;
      box-shadow: 0 0 10px #0ef;
      opacity: 0; */
      /* margin-right: 280px; */
      /* justify-content: center;
      align-items: center; */
      /* text-decoration: none;
      background-color: #0ef;
      color: black; */
      /* width: 18vh; */
      /* height: 4vh; */
      /* border-radius: 20px;
      animation: slideTop 1s ease forwards;
      animation-delay: 2s; */
  }
  
  /* keyframe animation */
  @keyframes slideRight {
      0% {
          transform: translateX(-100px);
          opacity: 0;
      }
  
      100% {
          transform: translateX(0px);
          opacity: 1;
      }
  }
  
  @keyframes slideTop {
      0% {
          transform: translateY(100px);
          opacity: 0;
      }
  
      100% {
          transform: translateY(0px);
          opacity: 1;
      }
  }
  
  @keyframes slideBottom {
      0% {
          transform: translateY(-100px);
          opacity: 0;
      }
  
      100% {
          transform: translateY(0px);
          opacity: 1;
      }
  }
  
  @keyframes slideLeft {
      0% {
          transform: translateX(100px);
          opacity: 0;
      }
  
      100% {
          transform: translateX(0px);
          opacity: 1;
      }
  }
  
  @keyframes zoomIn {
      0% {
          transform: scale(0);
          opacity: 0;
      }
  
      100% {
          transform: scale(1);
          opacity: 1;
      }
  }
  
  @keyframes floatImage {
      0% {
          transform: translateY(0);
      }
  
      50% {
          transform: translateY(-24px);
      }
  
      100% {
          transform: translateY(0);
      }
  }
  
  /* about section css */
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
  }
  
  .a img {
      height: 0vh;
      width: 0vw;
      border-radius: 50px;
      margin-right: 10vw;
      animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
      animation-delay: 2s, 3s;
  
  }
  
  .read {
      position: relative;
      margin-left: 5vw;
      display: inline-block;
      padding: 12px 28px;
      margin-top: 20px;
      margin-left: 34px;
      letter-spacing: 2px;
      box-shadow: 0 0 10px #0ef;
      opacity: 0;
      margin-right: 280px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: #0ef;
      color: black;
      width: 18vh;
      height: 4vh;
      border-radius: 20px;
      animation: slideTop 1s ease forwards;
      animation-delay: 2s;
  }
  .b{
      width: 47vw;
      height: 30vh;
  
  }
  .b h1 {
      font-size: 50px;
      opacity: 0;
      animation: slideRight 1s ease forwards;
      animation-delay: 1s;
      margin-left: 20px;
      margin-top: 20px;
      width: 80vw;
  }
  
  .b span {
      color: #0ef
      /* margin-top: 20px; */
  }
  .more p {
      line-height: 1.4;
      text-align: justify;
      font-size: 21px;
  }
  .b p {
      font-size: 23px;
      opacity: 0;
      animation: slideLeft 1s ease forwards;
      animation-delay: 1s;
      margin-top: 20px;
  }
  
  .b h4 {
      font-size: 32px;
      font-weight: 700;
      opacity: 0;
      animation: slideBottom 1s ease forwards;
      animation-delay: .7s;
      margin-top: 20px;
  }
  
  /* our service section css */
  .service{
      height: 160vh;
      width: 100vw;
  }
  .serv {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 160vh;
      width: 161vw;
      margin-top: 63px;
  }
  
  .serv h1 {
      font-size: 50px;
      opacity: 0;
      animation: slideRight 1s ease forwards;
      animation-delay: 1s;
  }
  .serv h1 span {
      color: #0ef
  }
  .mid {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      /* margin-top: 10vh; */
      height: 80vh;
  
  }
  
  .x {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0vw;
      padding: 20px;
      width: 100vw;
      height: 35vh;
      background-color: #00040b;
      border: 2px #0ef;
      border-radius: 40px;
  
  }
  
  .x i {
      font-size: 40px;
      color: #0ef;
  }
  
  .x h2 {
      font-size: 32px;
      font-weight: 700;
      opacity: 0;
      animation: slideBottom 1s ease forwards;
      animation-delay: .7s;
  }
  
  .x p {
      opacity: 0;
      line-height: 1.4;
      text-align: justify;
      font-size: 23px;
      animation: slideLeft 1s ease forwards;
      animation-delay: 1s;
  }
  .x button{
      margin-left:-10px ;
  }
  
  .y {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0vw;
      padding: 20px;
      width: 100vw;
      height: 35vh;
      background-color: #00040b;
      border: 2px #0ef;
      border-radius: 40px;
  margin-top: 50px;
  }
  
  .y i {
      font-size: 40px;
      color: #0ef;
  }
  
  .y h2 {
      font-size: 32px;
      font-weight: 700;
      opacity: 0;
      animation: slideBottom 1s ease forwards;
      animation-delay: .7s;
  }
  
  .y p {
      opacity: 0;
      line-height: 1.4;
      text-align: justify;
      font-size: 23px;
      animation: slideLeft 1s ease forwards;
      animation-delay: 1s;
  }
  
  .y button{
      margin-left:-10px ;
  }
  
  /* portfolio css----------> */
  .con {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 183vh;
      width: 160vw;
  }
  
  .con h1 {
      font-size: 50px;
      opacity: 0;
      animation: slideRight 1s ease forwards;
      animation-delay: 1s;
  }
  .con h1 span {
      color: #0ef
  }
  .pro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 0px;
  }
  .div1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }
  .partition{
      width: 101vw;
      height: 30vh;
      border: 2px solid black;
      border-radius: 40px;
      /* margin-left: 30px;
      margin-top: 40px; */
      /* padding: 20px; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #pro1{
      background-color: #00040b;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  #pro2{
      background-color: #00040b;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  #pro3{
      background-color: #00040b;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  #pro4{
      background-color: #00040b;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  .partition h3{
      font-size: 32px;
      font-weight: 700;
      opacity: 0;
      animation: slideBottom 1s ease forwards;
      animation-delay: .7s;
  }
  .partition p{
      font-size: 23px;
      opacity: 0;
      animation: slideLeft 1s ease forwards;
      animation-delay: 1s; 
  }
  .partition i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 20px;
      border: 2px solid #0ef;
      background: transparent;
      color: #0ef;
      transition: .5s ease;
      opacity: 0;
      animation: slideLeft .5s ease forwards;
      animation-delay: calc(.2s * var(--i));
  }
  
  .partition i:hover {
      color: black;
      background-color: #0ef;
      box-shadow: 0 0 20px #0ef;
  }
  
  
  .cm{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 160vh;
      width: 162vw;
  }
  .cm1{
      margin-bottom: 35px;
  }
  .cm1 h1 {
      font-size: 50px;
      opacity: 0;
      animation: slideRight 1s ease forwards;
      animation-delay: 1s;
  }
  .cm1 h1 span {
      color: #0ef
  }
  .row{display: flex;
      align-items: center;
      width: 112vw;
      height: 7vh;
      margin-top: 30px;
      color: #fff;
      background-color: transparent;
      border-radius: 4px;
      border: 2px solid#0ef;
  }
  .mar{
      margin-left: 20px;
  }
  .bh{
      width: 25vw;
      height: 20vh;
      margin-top: 10px;
      color: #fff;
      background-color: transparent;
      border-radius: 4px;
      border: 2px solid#0ef;
  }
  .cm button{
      margin-left: -9px;
  }
  .sms{
      
          position: relative;
          margin-left: 5vw;
          display: inline-block;
          padding: 12px 28px;
          margin-top: 66px;
          margin-left: 34px;
          letter-spacing: 2px;
          box-shadow: 0 0 10px #0ef;
          opacity: 0;
          text-decoration: none;
          background-color: #0ef;
          color: black;
          border-radius: 20px;
          animation: slideTop 1s ease forwards;
          animation-delay: 2s;
      
  }
  
  
  
  
  
  
  .more{
      width: 450px;
      /* background: #fff; */
      padding: 20px;
      box-sizing: 0 0 5px black;
  
  }
  .more h4{
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
  
  }
  .more p{
      line-height: 1.4;
      text-align: justify;
  }
  #check{
      display: none;
  
  }
  .hidden{
      display: none;
  transition: 0.5s linear;
  }
  label{
      display: inline-block;
      margin-top: 10px;
      color: crimson;
      text-decoration: underline;
      cursor: pointer;
      font-weight: 600;
  
  }
  #check:checked~ .hidden{
      display: block;
  }
  #check:checked~ .lable{
      visibility: hidden;
  }
  #check:checked~ label:after{
      content:'show less';
      display: block;
      visibility: hidden;
  }
  .foot{
      width: 158vw;
  }
   
}
